@font-face {
  font-family: "Fink Heavy";
  src: url("../assets/FinkHeavy.ttf");
}

* {
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 1.4em;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.App {
  background-image: url("../assets/bg2.jpeg");
  height: 100vh;
  text-align: center;

  color: black;
}

main, nav, a, h1, h2, h3, audio, p, .saved-song-name {
  padding: 2vh;
}

main{
}

a {
  color: white;
  text-decoration: none;
}

a:visited {
  color: white;
}

a.active {
  text-decoration: underline;
  text-underline-offset: 8px;
}

h1 {
  color: white;
  text-shadow: -1px 1px 2px #000,
  1px 1px 2px #000,
  1px -1px 2px #000,
  -1px -1px 2px #000;
}

a, h2, h3, p, .saved-song-name {
  color: white;
	/* font-size: 40px; */
	text-shadow: -1px 1px 0px #000,
  1px 1px 0px #000,
  1px -1px 0 #000,
  -1px -1px 0 #000;
}

h1 {
  font-family: "Fink Heavy";
}

.wrapper {
  min-height: 100vh;
  display: grid;
  grid-template-rows: auto 1fr auto;
}
.saved-songs{
  overflow: hidden;
}

.save-button {
  margin-left: 10px;
}

button {
  font-size: 1em;
  background-color: rgba(255, 255, 255, 0);
  border: 0;
  color: white;
  padding-right: 7px;
  vertical-align:middle;
  box-sizing: border-box;
}

button:active {
  color: grey;
}

footer button {
  color: black;
  padding-left: 10px;
}

footer {
  background-color: white;
  border-top: 1px black solid;
  padding-top: 10px;
  box-sizing: border-box;
}

@media screen and (max-width: 600px) {
  .wrapper {
    min-height: 90vh;
    display: grid;
    grid-template-rows: auto 1fr auto;
  }
}