@font-face {
  font-family: "Fink Heavy";
  src: url("../assets/FinkHeavy.ttf");
}

* {
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.App {
  background-image: url("../assets/bg2.jpeg");
  height: 100vh;
  text-align: center;
}

main, nav, a, h1, h2, h3, audio, p {
  padding: 2vh;
}

h1 {
  font-family: "Fink Heavy";
}